.filters
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding-inline: 1rem
  background-color: #ffffff
  @media screen and (min-width: 500px)
    gap: 1rem
    justify-content: center

.items
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: .6rem
