.nav {
	position: fixed;
	width: 100%;
	padding: 0.6rem 0rem;
	background: #8815d0;
	color: white;
}

.nav ul {
	display: flex;
	width: 95%;
	margin: 0 auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.nav ul li.logo {
	flex: 1;
	font-size: 1.4rem;
	font-weight: 600;
}

.nav ul div.menu-bars {
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.nav ul div.menu-bars svg {
	width: 100%;
	height: 100%;
}

.nav ul div.links {
	display: inline-flex;
	padding: 0 1.3rem;
	left: -1000px;
}

.nav ul div.links a {
	padding: 0 0.6rem;
	font-size: 16px;
}

.nav ul .search-icon {
	display: flex;
	align-items: center;
	height: 40px;
	width: 240px;
	border-radius: 8px;
	background-color: #f6d551;
	order: 2;
}

.nav ul .search-icon input {
	height: 100%;
	padding: 15px;
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.nav ul .search-icon .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	height: 100%;
	color: black;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.nav ul .search-icon .icon:hover,
.nav ul .search-icon .icon:active,
.nav ul .search-icon .icon:focus {
	transform: scaleX(-1) scale(1.3);
}

@media screen and (max-width: 860px) {
	.nav {
		padding: 0.2rem 0.6rem;
	}

	.nav ul div.menu-bars {
		display: block;
		margin-inline: 1rem;
	}

	.nav ul div.links {
		position: absolute;
		transition: left 0.3s ease-in-out;
		padding: 0;
		top: 46px;
		flex-direction: column;
		align-items: center;
		width: 100%;
		background: linear-gradient(#8815d0, #560b85);
	}
	.nav ul div.links.menu--open {
		left: 0px;
	}

	.nav ul div.links a {
		display: inline-block;
		padding: 1rem;
		width: 100%;
	}

	.nav ul .search-icon {
		order: initial;
		margin-inline: 1rem;
	}
}

@media screen and (max-width: 446px) {
	.nav ul {
		margin: 0;
	}
	.nav ul div.links {
		top: calc(46px + 0.5rem + 40px);
	}
	.nav ul div.links.menu--open {
		left: 0px;
	}

	.nav ul div.menu-bars {
		margin-inline: 1rem;
	}

	.nav ul .search-icon {
		order: 2;
		margin-top: 0.5rem;
	}

	.nav ul div.links a {
		display: inline-block;
		padding: 1rem;
		width: 100%;
	}
}
