.counter-container
  padding-block: 1rem
  display: flex
  flex-direction: column
  gap: .5rem
.counter
  display: flex
  align-items: stretch
  max-width: 400px
  min-height: 60px
  .control, .counter-value
    display: grid
    place-content: center
    padding: .6rem
    color: #f5f5f5
  .control
    background-color: #8b139b
    color: white
    font-weight: bold
    font-size: 1.2rem
    padding: .6rem 1.4rem
    cursor: pointer
  .counter-value
    background-color: #333333
.buttons-group
  display: flex
  justify-content: center
  flex-wrap: wrap
  .button
    background-color: #8b139b
    color: white
    padding: .6rem 1rem
    display: inline-block
    text-align: center
    cursor: pointer
    width: min(90%, 300px)
  .button.deactivate
    background-color: #797979
    color: rgba(255, 255, 255, .3)
    cursor: auto
