.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  background-color: #f2f2f2;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.05);
  z-index: 2;
}

.card .controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card .controls span {
  flex-grow: 1;
  padding: 0.4rem 0;
}

.card .controls .action {
  background-color: #8a2be2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.card .controls .action:hover {
  background-color: #5d1d99;
}

.card .controls .action.disabled {
  background-color: gray;
  color: black;
}

.add-to-cart-btn {
  font-size: 1em;
  padding: 1em 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  background-color: #5d1d99;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  user-select: none;
}

.add-to-cart-btn:hover {
  background-color: white;
  color: #5d1d99;
  -webkit-box-shadow: inset 0px 0px 0px 3px #5d1d99;
  -moz-box-shadow: inset 0px 0px 0px 3px #5d1d99;
  box-shadow: inset 0px 0px 0px 3px #5d1d99;
}
